html, body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.19;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}


.md-sidenav-top, md-sidenav {
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 500;
}

.md-sidenav-top.md-closed, md-sidenav.md-closed {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
@media screen and (-ms-high-contrast: active) {
    .md-sidenav-top {
        border-bottom: 1px solid #fff;
    }
}

@media (max-width: 600px) {
    md-sidenav.md-sidenav-top {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

md-sidenav.md-locked-open.md-closed.md-sidenav-top {
    position: static;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger {
  position: absolute;
  top: 6px;
  margin: 0 6px;
  height: 48px;
  min-width: 0;
  line-height: 48px;
  padding-left: 0;
  padding-right: 0;
  width: 48px;
  border-radius: 50%;
}

.hamburger > div:first-of-type > div,
.hamburger > div:first-of-type > div::before,
.hamburger > div:first-of-type > div::after {
	width: 20px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.87);
  -webkit-transition-timing-function: cubic-bezier(.4, -0.6, .6, 1.4);
	transition-timing-function: cubic-bezier(.4, -0.6, .6, 1.4);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.hamburger > div:first-of-type > div {
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.hamburger.open > div:first-of-type > div {
	background-color: rgba(255, 255, 255, 0) !important;
}

.hamburger > div:first-of-type > div::before,
.hamburger > div:first-of-type > div::after {
	content: "";
	display: block;
	position: relative;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hamburger > div:first-of-type > div::before {
	top: -7px;
}

.hamburger.open > div:first-of-type > div::before {
	-webkit-transform: translateY(7px) rotate(45deg);
	transform: translateY(7px) rotate(45deg);
}

.hamburger > div:first-of-type > div::after {
	top: 5px;
}

.hamburger.open > div:first-of-type > div::after {
	-webkit-transform: translateY(-7px) rotate(-45deg);
	transform: translateY(-7px) rotate(-45deg);
}