html, body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.19;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;

  & .md-button.contact {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
  }

  & md-icon.avatar {
    margin-top: 10px;
  }

  & .md-button.contact > md-icon {
    fill:black;
    width:36px;
    height:36px;
  }

  & .md-button.contact:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding:4px;
    transition: all 100ms ease-out 30ms;
  }

  & img {
    display: block;
    height: auto;
    max-width: 500px;
  }
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.md-sidenav-top, md-sidenav {
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 500;

  &.md-closed {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
}
@media screen and (-ms-high-contrast: active) {
    .md-sidenav-top {
        border-bottom: 1px solid #fff;
    }
}

@media (max-width: 600px) {
    md-sidenav.md-sidenav-top {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

md-sidenav.md-locked-open.md-closed.md-sidenav-top {
    position: static;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.small-headding {
  padding: 0 50px;
  text-align: center;
}

[toggle-input] {
	cursor: pointer;
}

md-toolbar md-input-container:not(.md-input-invliad).md-input-focused md-icon {
	color: rgba(255, 255, 255, 0.87);
}

.stages-menu,
.stages-menu ul {
  list-style: none;
  padding: 0;
}
.stages-menu li {
	margin: 0;
	border: 0 solid #d8e1e6;
	border-bottom-width: 1px;
	margin-right: 0;
	padding-right: 0;
}

.stages-menu > li:not(.no-top):nth-child(1) {
	border-top-width: 1px;
}

.stages-menu .md-button {
  border-radius: 0;
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
}

.stages-menu .md-button:hover,
.stages-menu .md-button:focus {
  background: #dce0e6 !important;
}

.stages-menu .md-subheader {
	margin: 0;
  /*background-color: rgb(200, 200, 220);*/
}

.stages-menu .md-subheader .md-button {
	border-radius: 0;
}

.stages-menu [layout-fill] {
	text-align: left;
}

.stages-menu .md-subheader .md-subheader-inner,
.stage-content .md-subheader .md-subheader-inner {
	padding: 0;
}
.stages-menu .md-subheader .md-subheader-content {
	margin: 0;
}

.stages-menu md-list-item {
	padding: 0;
}

.stages-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.stages-menu .md-button.active {
  background: rgba(0, 0, 0, 0.1);
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height, padding;
  -moz-transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height, padding;
  transition: 0.25s cubic-bezier(.4, -0.6, .6, 1.4);
  transition-property: height, padding;
}

.stages-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.stage-content {
  padding: 0 16px;
}

.stage-content .md-subheader, .parent-list-item .menu-top {
  width: 100%;
}

.stage-content .md-subheader .md-subheader-inner {
  padding: .19rem 0;
}

.parent-list-item .menu-top a.md-button {
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: inerit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
}