button, select, html, textarea, input {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 17pt;
  line-height: 1.19 !important;
  letter-spacing: normal !important;
}

/************
 * Body Copy
 ************/
.md-body-1, [text-style-body] {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.md-body-2, md-list .md-subheader, md-list-item.md-2-line .md-list-itemtext h4, md-list-item.md-2-line > .md-no-style .md-list-itemtext h4, md-list-item.md-3-line .md-list-itemtext h4, md-list-item.md-3-line > .md-no-style .md-list-itemtext h4, md-list-item.md-2-line .md-list-itemtext p, md-list-item.md-2-line > .md-no-style .md-list-itemtext p, md-list-item.md-3-line .md-list-itemtext p, md-list-item.md-3-line > .md-no-style .md-list-itemtext p,
[text-style-callout] {
  font-size: 0.94rem !important;
  font-weight: 400 !important;
}

[text-style-footnote] {
	font-size: 0.76rem !important;
}

.md-caption, [text-style-caption1] {
  font-size: 0.71rem !important;
}

[text-style-caption2] {
	font-size: 0.65rem !important;
}

select, button, textarea, input {
  font-size: 100% !important;
}

/************
 * Headings
 ************/

.md-subhead, md-list-item.md-2-line .md-list-itemtext h3, md-list-item.md-2-line > .md-no-style .md-list-itemtext h3, md-list-item.md-3-line .md-list-itemtext h3, md-list-item.md-3-line > .md-no-style .md-list-itemtext h3, [text-style-subhead], h6 {
  font-size: 0.88rem !important;
  font-weight: 400 !important;
}

.md-title, .md-toolbar-tools, [text-style-title], h5 {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.md-display-1, .md-headline, [text-style-headline], h4 {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.md-display-2, [text-style-title3], h3 {
  font-size: 1.18rem !important;
  font-weight: 400 !important;
}

.md-display-3, [text-style-title2], h2 {
  font-size: 1.29rem !important;
  font-weight: 400 !important;
}

.md-display-4, [text-style-title1], h1 {
  font-size: 1.65rem !important;
  font-weight: 300 !important;
}

md-list .md-subheader {
  line-height: inherit !important;
}