<!DOCTYPE html>
<html lang="en">

<head>
  <title>Overview of Labor and Birth—Overview of Labor and Birth</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/assets/Bradley.png">
  <base href="/">

  <link rel="stylesheet" href="assets/angular-material.css" />
  <link rel="stylesheet" href="assets/app.css" />
  <link rel="stylesheet" href="assets/type.css" />
</head>

<body layout="column" ng-controller="UserController">

  <md-toolbar layout="row" class="md-whiteframe-z1" style="z-index: 1000" layout-align="center center">
    <md-button class="menu hamburger" hide-gt-sm ng-click="toggleList($event)" aria-label="Show User List" ng-class="{'open': isSidenavOpen()}">
      <div flex layout="row" layout-align="center center">
        <div></div>
      </div>
    </md-button>
    <h1 hide-sm>{{ selected.name }}</h1>
    <h1 hide-gt-sm text-style-title3>{{selected.name}}</h1>
  </md-toolbar>

  <div flex layout="row" style="position: relative">
    <md-sidenav class="site-sidenav md-sidenav-top md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-content flex role="navigation">
        <ul class="stages-menu">
          <li ng-repeat="section in menu" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section), 'no-top': section.type === 'heading'}">
            <md-subheader class="menu-heading md-no-sticky" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">{{section.name}}</md-subheader>
            <menu-link class="menu-top" section="section" ng-if="section.type.value === 'link'" flex text-style-subhead layout="row" layout-align="center center" layout-fill></menu-link>
            <toggle-menu section="section" ng-if="section.type.value === 'toggle'"></toggle-menu>

            <ul ng-if="section.children" class="menu-nested-list">
              <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                <menu-link section="child" ng-if="child.type.value === 'link'"></menu-link>
                <toggle-menu section="child" ng-if="child.type.value === 'toggle'"></toggle-menu>
              </li>
            </ul>
          </li>
        </ul>
      </md-content>
    </md-sidenav>
    <md-content flex class="md-whiteframe-z2 stage-content" layout="column" tabIndex="-1" role="main">
      <div layout="column" ng-view></div>
    </md-content>
  </div>

  <script src="main.js"></script>

</body>

</html>